.contact_hero {
    background-image: linear-gradient(
        to bottom,
        rgba(36, 35, 35, 0.52),
        rgba(43, 42, 42, 0.73)
      ),
      url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
    width: 100%;
    min-height: auto;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background-size: cover;
    background-position: center;
  }

  .container__{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.form_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 240px;
}

  .form_text{

    max-width: 515px;
    margin-bottom: 189px;
    p{
        font-size: 19px;
        margin: 2rem 0;
        color: #212529;
        font-family: ""Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"";
        line-height: 1.5;
    }

  }
  .form_container{
    max-width: 100%;
    border-bottom: 1px;
}
form div{
    height: 185px;
    width: 600px;
    padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;


}
form input{
    width: 100%;
    height: 100%;
    padding: 24px 0px;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
    color: #212529;
}
form textarea{
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;

}
form button{
    font-size: 19px;
    border: none;
    // padding: 16px 18px;
    background-color: #0085A1;
    color: white;
    font-weight: bolder;
    opacity: 0.65;
    height: 53px;
    max-width: 100px;
}