.samplepost_hero{
    
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.52),
        rgba(22, 22, 22, 0.73)
      ),
      url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/post-bg.jpg");
    max-width: 100%;
    
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background-size: cover;
    background-position: center;
//  padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        // background-position: center;
      
}
.post_heading{
    // background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    // font-size: 25px;

}

.post_h1{
    font-size: 3.25rem;
    font-family: ""Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"";
    max-width: 558px;
  font-weight: 800;
  
margin-bottom: 10px;
  
}
.samplea{
    color: white;
    font-family:" "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"";
    // width: 467px;
}
.subheading{
    font-size: 2rem;
    width: 556px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.meta_post{
    font-size: 1.25rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 556px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.container p{
    margin: 2rem 0;
    font-size: 1.5rem;
   
    max-width: 654px;
    color: #212529;
    font-family: "Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
}

.final_frontier{
    
    font-size: 36px;
    font-weight: bolder;
    max-width: 634px;
    
}

.block{
    font-size: 1.5rem;
    font-style: italic;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 654px;
    margin-bottom: 1rem;
    font-weight: 400;
    
}
.sample_section{
    max-width: 100%;

}
.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text_sample_p{
    max-width: 654px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.reaching{
    font-size: 36px;
    font-weight: bolder;
    max-width: 634px;

}

.p_reach{
    max-width: 654px;
    font-size: 22px;
    font-weight: 450;
    letter-spacing: 1px;


}

.img_kosmonaft{
    width: 100%;

}

.sample_pp{
    max-width: 550px;
    text-align: center;
    margin: auto;
    color: #6c757d;
}

.container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 654px;
    gap: 15px;
    margin-bottom: 20px;
    line-height: 1.3;

}

.text_container_2{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.container_text p{
    max-width: 654px;
    font-size: 22px;
    font-weight: 450;
    letter-spacing: 1px;
}


.container_text{
    p{
        a{
            text-decoration: underline;
            color: #212529;
        }
        a:hover{
            color: #0085A1;
        
        }
    }
}


.site_bottom{
    font-size: 19px;
    color: #6c757d;
    font-style: italic;
}
@media screen and (max-width:801px) {
    .post_h1{
        font-size: 2.25rem;
    }
    .subheading{
        font-size: 1.5rem;
    }

}
@media screen and (max-width:495px) {
    .post_h1{
        font-size: 1.5rem;
    }
    .subheading{
        font-size: 1rem;
    }
}

@media screen and (max-width:770px) {
    .kosmonaft{
        // font-size: 3rem;
        width: 492px;
        height: 325px;
    }
    
}