.hero {
  background-color: #212529;
  width: 100%;
  // min-height: auto;
  margin-bottom: 3rem;
  padding-top: 40px;
  padding-bottom: 5px;
  background-size: cover;
  background-position: center;
}

.text_card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.text_ {
  margin-bottom: 20px;
}
.modern_business {
  margin-bottom: 23px;
  h2 {
    text-align: left;
    color: white;
    max-width: 600px;
    font-size: 44px;
    font-weight: bolder;
    font-family: system-ui;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  span {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    font-family: system-ui;
    color: rgba(255, 255, 255, 0.5);
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 35px;
  .get_started {

    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    display: flex;
    max-width: 500px;
    padding: 10px;
    height: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
   
  }
  .learn_more {
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    display: flex;
    max-width: 500px;
    padding: 10px;
    height: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
  }

  .get_started:hover {
    background-color: #0b5ed7;
  }
  .learn_more:hover {
    background-color: white;
    color: #212529;
  }
}
.card {
  display: flex;
}

.better_way {
  max-width: 500px;
  font-size: 30px;
  font-weight: bolder;
  font-family: system-ui;
  padding: 20px;
}
.cards_text {
  display: flex;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  margin-bottom: 50px;
}

.feature_card {
  display: flex;
  padding: 20px;
}
.collection_img {
  max-width: 65px;
}
.collection_text {
  max-width: 400px;
}
.feature_head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: system-ui;
}

.feature_p {
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  color: #212529;
}

.second_hero {
  max-width: 100%;
  background-color: rgb(248, 249, 250);
  padding-bottom: 100px;
  margin-bottom: 80px;
}

.second_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.working_p {
  font-size: 20px;
  max-width: 470px;
  line-height: 1.5;
  font-family: system-ui;
  font-style: italic;
  font-weight: 480;
  color: #212529;
}
.working_p2 {
  font-size: 20px;
  max-width: 470px;
  line-height: 1.5;
  font-family: system-ui;
  font-style: italic;
  font-weight: 480;
  color: #212529;
  text-align: center;
}
.working_div {
  margin: 50px;
}
.second_items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_up {
  border-radius: 8px;
  max-width: 400px;
}
.img_working {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
}

.tom {
  font-weight: 700;
  font-size: 18px;
}

.slas {
  color: rgb(13, 110, 253);
  font-weight: 700;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 20px;
}
.ceo {
  font-weight: 700;
  font-size: 18px;
}

.blog_container {
  display: flex;
  flex-direction: column;
}
.from_blog_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.from_our_blog {
  font-size: 32px;
  font-weight: 700;
  font-family: system-ui;
  margin-bottom: 10px;
  color: #212529;
}
.lorem_txt {
  font-size: 18px;
  width: 488px;
  text-align: center;
  color: #596066;
  margin-bottom: 50px;
  font-family: system-ui;
  line-height: 1.2;
}
.news {
  width: 50px;
  height: 20px;
  background-color: rgb(13, 110, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-family: system-ui;
  // padding: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.from_img {
  max-width: 400px;
  height: 200px;
}

.from_cards {
    width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;

  justify-content: center;
  border-color: rgba(0, 0, 0, 0.175);
}

  

.form_card1 {
  border-radius: 8px;
  max-width: 320px;
  height: 510px;
  margin: 10px;
  // flex: 320px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 8px 3px rgba(56, 55, 55, 0.2);
}
.form_card2 {
  border-radius: 8px;
  max-width: 320px;
  min-height: 510px;
  margin: 10px;
  // flex: 320px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 8px 3px rgba(56, 55, 55, 0.2);
}
.form_card3 {
  border-radius: 8px;
  max-width: 320px;
  height: 510px;
  margin: 10px;
  // flex: 320px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 8px 3px rgba(56, 55, 55, 0.2);
}
.blog_post {
  padding: 20px;
  margin-bottom: 35px;
  line-height: 1.5;
}
.another_blog {
  padding: 15px;
  padding-bottom: 14px;
  // margin-bottom: 20px;
  line-height: 1.5;
}
.last_blog {
  padding: 15px;
  padding-bottom: 30px;
  // margin-bottom: 35px;
  line-height: 1.5;
}
.blog_cards {
  display: flex;
  align-items: center;
  // margin-top: 10px;
  // justify-content: center;
}
.blog_post_title {
  font-size: 20px;
  font-family: system-ui;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog_items {
  font-size: 16px;
  color: #596066;
  font-family: system-ui;
  // margin-bottom: 10px;
}
.kelly {
  font-size: 14px;
  font-weight: 700;
  color: #212529;
  font-family: system-ui;
  margin-bottom: 5px;
}
.date_text {
  color: #596066;
  font-family: system-ui;
  font-size: 14px;
}

.email_container {
  max-width: 80%;
  padding: 20px;
  margin-left: 100px;
//   height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  
  margin-top: 50px;
  
  background-color: #0d6efd;
  border-radius: 8px;
  margin-bottom: 100px;
}

.new_products {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  font-family: system-ui;
  text-align: center;
}
.product {
  padding-left: 30px;
  padding-right:30px ;
  text-align: center;
}
.newsletter {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-family: system-ui;
}
.email_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 20px; */
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

[type="email"] {
  width: 250px;
  height: 35px;
  border-radius: 3px;
}
.btn {
  width: 80px;
  height: 35px;
  background-color: #0d6efd;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 5px;
}
.privacy {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: system-ui;
  padding-right: 10px;
}
.btn_pravicy{
    padding: 10px;
    
}
.btn:hover {
  background-color: white;
  color: #212529;
}
@media screen and (max-width: 868px) {
  .card {
    display: none;
  }
  .text_card {
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 577px) {
  .buttons {
    display: inline-block;
    max-width: 444px;
    width: 100%;
  }
  .get_started {
    max-width: 500px;
    
    width: 100%;
    margin-bottom: 20px;
  }
  .learn_more {
    max-width: 444px;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .cards_text {
    flex-direction: column;
  }
  .feature_card {
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 576px) {
  .feature_card,
  .form_card1 {
    width: calc(100% - 40px); 
    margin-bottom: 20px; 
  }
}

@media screen and (max-width:801px) {
  .btn_pravicy {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    .email_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
      
    }
    .from_img {
        max-width: 400px;
        min-block-size: 150px;
       
      }
}