.footer_icon{
    margin-top: 20px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    // background-color: aqua;

}
.site_bottom{
    // background-color: #020202;
    height: 100px;
    color: #818181;
    display: flex;
    justify-content: center;

}
.footer_container{
    border: 1px solid #0085A1 ;
    background-color: white;
}
// .footer{
//     background-color: aqua;
// }
.footer_icon a{
    font-size: 50px;

}