* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

.nav_container {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 75px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 1200px;
  letter-spacing: 1px;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* nav-container end */
nav {
  width: 100%;
  background-color: rgb(116, 117, 117);
}

header {
  width: 100%;
  z-index: 1;
  align-items: center;
  background-color: rgb(44, 62, 80);
}

.bootstrap {
  display: flex;
}

.bootstrap a {
  color: #fff9f9;
}

.bootstrap h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 20px;
}

.bootstrap a:hover {
  color: #424242;
}

.portfolio {
  display: flex;
  font-size: 0.75rem;
  font-weight: 800;
}

.portfolio a {
  color: #ffffff;
  display: flex;
  padding: 16px;
  gap: 8px;
}

.portfolio a:hover {
  color: #5e5b5b;
}

.bootstrap:hover {
  color: #424242;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(44, 62, 80);
}

img {
  width: 100%;
}

.hidden {
  border: 1px solid rgb(72, 73, 72);
  display: none;
}

@media screen and (max-width: 800px) {
  .portfolio {
    color: #ffffff;
    display: none;
    padding: 16px;
    gap: 8px;
  }
  .nav_container {
    background-color: #ffffff;
  }
  .bootstrap a {
    color: #424242;
    font-weight: 800;
  }
  .hidden {
    display: flex;
    height: 45px;
    width: 100px;
    background-color: #ffffff;
    cursor: pointer;
    color: #5e5d5d;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 12.8px;
    transform: translateX(-20%);
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }
}
.footer_icon {
  margin-top: 20px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.site_bottom {
  height: 100px;
  color: #818181;
  display: flex;
  justify-content: center;
  font-size: 17.5px;
}

.footer_container {
  border-top: 1px solid #dee2e6;
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer_icon a {
  font-size: 1.25em;
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon {
  margin-bottom: 10px;
}

.contact_hero {
  background-image: linear-gradient(to bottom, rgba(36, 35, 35, 0.52), rgba(43, 42, 42, 0.73)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
  width: 100%;
  min-height: auto;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background-size: cover;
  background-position: center;
}

.container__ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 240px;
}

.form_text {
  max-width: 515px;
  margin-bottom: 189px;
}
.form_text p {
  font-size: 19px;
  margin: 2rem 0;
  color: #212529;
  font-family: "" Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji "";
  line-height: 1.5;
}

.form_container {
  max-width: 100%;
  border-bottom: 1px;
}

form div {
  height: 185px;
  width: 600px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

form input {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  color: #212529;
}

form textarea {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid gray;
}

form button {
  font-size: 19px;
  border: none;
  background-color: #0085A1;
  color: white;
  font-weight: bolder;
  opacity: 0.65;
  height: 53px;
  max-width: 100px;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(54, 51, 51, 0.52), rgba(59, 59, 59, 0.73)), url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg");
  width: 100%;
  min-height: auto;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background-size: cover;
  background-position: center;
}

.clean_blog {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 1px;
}

.clean_blog h2 {
  font-size: 5rem;
}

.clean_blog span {
  font-size: 1.5rem;
}

.tags {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tag_man {
  font-size: 2.25rem;
  font-weight: 800;
  color: #212529;
}

.tag_prob {
  font-size: 1.62rem;
  font-weight: 300;
  color: #212529;
}

.tag_man:hover {
  color: #0085A1;
}

.tag_prob:hover {
  color: #0085A1;
}

.tag_boot {
  color: black;
  font-size: 1.125rem;
}

.tag_boot:hover {
  color: #0085A1;
}

.tagOne a {
  margin: 10px;
}

.tag_post {
  color: #6c757d;
  font-size: 1.125rem;
}

.underline {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #dee2e6;
}

.tag-btn {
  width: 100%;
  text-align: end;
  margin-bottom: 3.5rem;
}

[type=button] {
  width: 179px;
  height: 55px;
  letter-spacing: 0.0625em;
  color: #fff;
  background-color: #0085A1;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.875rem;
  border: 1px;
}

.about_hero {
  background-image: linear-gradient(to bottom, rgba(54, 51, 51, 0.52), rgba(59, 59, 59, 0.73)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/about-bg.jpg);
  width: 100%;
  min-height: auto;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background-size: cover;
  background-position: center;
}

.about_me {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 1px;
}

.about_me h2 {
  font-size: 5rem;
}

.about_me span {
  font-size: 1.5rem;
}

.about_lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_lorem p {
  font-size: 20px;
  font-weight: 444;
  line-height: 28px;
  color: #212529;
  margin: 2rem 0;
  letter-spacing: 1px;
  max-width: 546px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
}

.samplepost_hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(22, 22, 22, 0.73)), url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/post-bg.jpg");
  max-width: 100%;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.post_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.post_h1 {
  font-size: 3.25rem;
  font-family: "" Open Sans ", -apple-system, BlinkMacSystemFont, " Segoe UI ", Roboto, " Helvetica Neue ", Arial, sans-serif, " Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ", " Noto Color Emoji "";
  max-width: 558px;
  font-weight: 800;
  margin-bottom: 10px;
}

.samplea {
  color: white;
  font-family: " " Lora ", -apple-system, BlinkMacSystemFont, " Segoe UI ", Roboto, " Helvetica Neue ", Arial, sans-serif, " Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ", " Noto Color Emoji "";
}

.subheading {
  font-size: 2rem;
  width: 556px;
  font-weight: 600;
  margin-bottom: 20px;
}

.meta_post {
  font-size: 1.25rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 556px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.container p {
  margin: 2rem 0;
  font-size: 1.5rem;
  max-width: 654px;
  color: #212529;
  font-family: "Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
}

.final_frontier {
  font-size: 36px;
  font-weight: bolder;
  max-width: 634px;
}

.block {
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 654px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.sample_section {
  max-width: 100%;
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_sample_p {
  max-width: 654px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.reaching {
  font-size: 36px;
  font-weight: bolder;
  max-width: 634px;
}

.p_reach {
  max-width: 654px;
  font-size: 22px;
  font-weight: 450;
  letter-spacing: 1px;
}

.img_kosmonaft {
  width: 100%;
}

.sample_pp {
  max-width: 550px;
  text-align: center;
  margin: auto;
  color: #6c757d;
}

.container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 654px;
  gap: 15px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.text_container_2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.container_text p {
  max-width: 654px;
  font-size: 22px;
  font-weight: 450;
  letter-spacing: 1px;
}

.container_text p a {
  text-decoration: underline;
  color: #212529;
}
.container_text p a:hover {
  color: #0085A1;
}

.site_bottom {
  font-size: 19px;
  color: #6c757d;
  font-style: italic;
}

@media screen and (max-width: 801px) {
  .post_h1 {
    font-size: 2.25rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 495px) {
  .post_h1 {
    font-size: 1.5rem;
  }
  .subheading {
    font-size: 1rem;
  }
}
@media screen and (max-width: 770px) {
  .kosmonaft {
    width: 492px;
    height: 325px;
  }
}/*# sourceMappingURL=main.css.map */